<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="..//static//login.css">
</head>
<body>
     <div class="login">
        <form action="/login" method="POST">

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required><br>


           <a href="/PrimeiraPagina.html">
           </a>
            <button type="submit">Enviar</button>

             <a href="/cadastro">Não é cadastrado? Então cadastre-se aqui!</a>
            <p>{{texto}}</p>
        </form>
    </div>
</body>
</html>